{% extends "layout.html" %}
{% block body %}
<style>
.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
</style>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>About Cigarbox</h1>
          <br/>
          <i>A smokin' fast personal photostream</i>
          <p>Cigarbox is a light weight, open source, personal photostream and archive.
            It was designed to mimic the photo graph of <a href='http://flickr.com'>Flickr</a> (photos, tags, sets, galleries) and provide a simple and friendly interface for friends and family to browse your photos. Photos are generally displayed in order of date-added, with the exception of photosets, which are in order of date-taken.</p>
          <p>For more information or to download and use on your own site, visit the project site at <a href='http://github.com/n8foo/cigarbox/'>github.com/n8foo/cigarbox</a></p>
          <a href="" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>Re-Open the Cigarbox</a>
        </div>
        <br />
    </div>
  </div>
</div>
{% endblock %}
