{% extends "layout.html" %}
{% from "_pagination.html" import render_pagination %}
{% block body %}
<div>
  {% for row in photosets|batch(4) %}
  <div class="row">
    {%- for photoset in row %}
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="{{SITEURL}}/photosets/{{ photoset.id }}">{{ photoset.title }}</a><h3>
        </div>
        <div class="panel-body">
          <a href="{{SITEURL}}/photosets/{{ photoset.id }}">
          {% for thumb in photoset.thumbs %}
          <img class="img-thumbnail" alt="Responsive image" src="http://s3.amazonaws.com/{{ config['S3_BUCKET_NAME'] }}/{{ thumb.uri }}">
          {% endfor %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    No photosets!
  {% endfor %}

  <!-- Pagination -->
  {{ render_pagination(pagination, baseurl) }}
</div>
<br><br>
{% endblock %}