{% extends "layout.html" %}
{% block body %}
<h1><a href="/photosets/{{ photoset.id }}">{{ photoset.title }}</a></h1>
  {% for row in photos|batch(4) %}
  <div class="row">
    {%- for photo in row %}
    <div class="col-xs-6 col-md-3">
      <a href="/photos/{{ photo.id }}" class='thumbnail'><img src="https://s3.amazonaws.com/cigarbox/{{ photo.uri }}_n.jpg"></a>
    </div>
    {% endfor %}
  </div>
  {% else %}
    You should really take more photos.
  {% endfor %}
</div>
{% if page %}
  {% if page > 1%}
 <a href='/photosets/{{ photoset.id }}/page/{{ page -1 }}'>page {{ page -1 }}</a> | 
  {% endif %}
 <a style='bold' href='/photosets/{{ photoset.id }}/page/{{ page }}'>page {{ page }}</a> | <a href='/photosets/{{ photoset.id }}/page/{{page +1 }}'>page {{ page +1 }}</a>
{% endif %}

{% endblock %}