{% extends "layout.html" %}
{% block body %}
<div>
<h1><a href="photosets/{{ photoset.id }}">{{ photoset.title }}</a></h1>
  {% for row in photos|batch(4) %}
  <div class="row">
    {%- for photo in row %}
    <div class="col-xs-6 col-md-3">
      <a href="photos/{{ photo.id }}" class='thumbnail'><img src="http://s3.amazonaws.com/{{ config['S3_BUCKET_NAME'] }}/{{ photo.uri }}_n.jpg"></a>
    </div>
    {% endfor %}
  </div>
  {% else %}
    You should really take more photos.
  {% endfor %}
</div>
<div class=footer>
{% if page %}
  {% if page > 1%}
 <a href='photosets/{{ photoset.id }}/page/{{ page -1 }}'>page {{ page -1 }}</a> | 
  {% endif %}
 <a style='bold' href='/photosets/{{ photoset.id }}/page/{{ page }}'>page {{ page }}</a> | <a href='photosets/{{ photoset.id }}/page/{{page +1 }}'>page {{ page +1 }}</a>
{% endif %}
</div>
<br><br>
<div>
{% endblock %}