{% extends "layout.html" %}

{# Set Open Graph variables for social media preview #}
{% set og_image = photo.uri %}
{% set og_title = 'Shared Photo' %}
{% set og_url = request.url %}
{% set tag_list = tags | list %}
{% if photo.datetaken %}
{% set og_description = 'Photo taken on ' + (photo.datetaken | format_datetime('%Y-%m-%d')) %}
{% set og_image_alt = 'Photo from ' + (photo.datetaken | format_datetime('%Y-%m-%d')) %}
{% else %}
{% set og_description = 'A shared photo from CigarBox' %}
{% set og_image_alt = 'Shared photo' %}
{% endif %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        You're viewing a shared photo.
        {% if share_token.expires_at %}
        This link expires {{ share_token.expires_at.strftime('%Y-%m-%d %H:%M') }}.
        {% else %}
        This link has no expiration.
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <img class='img-responsive' src="http://s3.amazonaws.com/{{ config['S3_BUCKET_NAME'] }}/{{ photo.uri }}_b.jpg" alt="Shared photo">
    </div>

    <div class="col-md-12" align="left">
      <br>
      {% if tag_list %}
      <p>
        <strong>Tags:</strong>
        {% for tag in tag_list %}
        {{ tag.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% endif %}

      {% if photo.datetaken %}
      <p><strong>Date Taken:</strong> {{ photo.datetaken | format_datetime }}</p>
      {% endif %}
    </div>
  </div>
</div>
<br><br>

{% endblock %}
